<footer th:fragment="footer">
    JAKE WHITMORE

    <h4>
        Image Sources:
    </h4>

    <nav class="nav">
        <a class="nav-link" href="https://www.mycar.com.au/car-advice/how-often-should-you-change-your-oil-in-a-car.html">Landing Page Image</a>
        <a class="nav-link" href="https://www.myautorepairadvice.com/how-to-change-oil.html">Step One Image</a>
        <a class="nav-link" href="https://www.123rf.com/photo_9133676_experienced-car-mechanic-changing-oil-filter-on-an-engine.html">Step Two Image</a>
        <a class="nav-link" href="https://searlesauto.ca/2014/09/4-signs-need-oil-change/">Step Three Image</a>
    </nav>
</footer>